<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/runner"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/runner"
        android:supportsRtl="true"
        android:theme="@style/Theme.RunPal"
        tools:targetApi="31">
        <activity
            android:name=".activities.results.EventRunResults"
            android:exported="false"
            android:label="@string/title_activity_event_run_results"
            android:theme="@style/Theme.RunPal" />
        <activity
            android:name=".activities.running.event.EventRunActivity"
            android:exported="false"
            android:label="@string/title_activity_event_running"
            android:theme="@style/Theme.RunPal" />
        <activity
            android:name=".activities.results.GroupRunResults"
            android:exported="false"
            android:label="@string/title_activity_group_running_results"
            android:theme="@style/Theme.RunPal" />
        <activity
            android:name=".activities.running.group.GroupRunEntryActivity"
            android:exported="false"
            android:label="@string/title_activity_group_run_entry"
            android:theme="@style/Theme.RunPal" />
        <activity
            android:name=".activities.running.group.GroupRunActivity"
            android:exported="false"
            android:label="@string/title_activity_group_run"
            android:theme="@style/Theme.RunPal" />
        <activity
            android:name=".activities.account.AccountActivity"
            android:exported="false"
            android:label="@string/title_activity_account"
            android:theme="@style/Theme.RunPal" />
        <activity
            android:name=".activities.home.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.RunPal" />
        <activity
            android:name=".activities.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.RunPal" />
        <activity
            android:name=".activities.results.SoloRunResults"
            android:exported="false"
            android:label="@string/title_activity_solo_running_results"
            android:theme="@style/Theme.RunPal" />
        <activity
            android:name=".activities.running.solo.SoloRunActivity"
            android:exported="false"
            android:label="@string/title_activity_running"
            android:theme="@style/Theme.RunPal" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyApQdgQNF8oB9mkf1VlHHzGzIoEkYbBdm0" />

        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.RunPal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>